extends layout

block content
    script(src='javascripts/script.js')
    #main(style='display: none;')
        p
            div formdataget: #{dataGET}
            div formdataget2: #{dataGet2}
        form.form-inline(action='/tryGet',method='GET')
            div.newrow.form-group
            label(for='formdataget') GET something
            input.form-control(type='text',name='formdataget',placeholder='come GET some')
            input.form-control(type='text',name='formdataget2',placeholder='come GET some2')
            button.btn.btn-default(type='submit',value='submit') Submit
            div formdataget-Output: #{formdataget}
        p
        if data
            table.table
                tr
                    th positionStartX
                    th positionEndX
                    th positionStartY
                    th positionEndY
                    th startTime
                    th endTime
                    th Text
                each item, i in data
                    tr
                        td #{item.positionStartX}
                        td #{item.positionEndX}
                        td #{item.positionStartY}
                        td #{item.positionEndY}
                        td #{item.startTime}
                        td #{item.endTime}
                        td #{item.text}
                tr
                    td 1
                    td 2
                    td 3
                    td 4
                    td 5
                    td 6
                    td 7
            button(onclick='notifyMe()') Notify me!
