extends layout

block content
    script(src='javascripts/script.js')
    #main(style='display: none;')
        p
            img.img-responsive.center-block(src="/images/360-grad-video.png")
            div StartX: #{dataGET[0]}  EndX: #{dataGET[1]}  StartY: #{dataGET[2]}  EndY: #{dataGET[3]}  startTime: #{dataGET[4]}  endTime: #{dataGET[5]}  Text: #{dataGET[6]}
        p
        form.form-inline(action='/insertObject',method='GET')
            table.table
                tr
                    th positionStartX
                    th positionEndX
                    th positionStartY
                    th positionEndY
                    th startTime
                    th endTime
                    th Text
                if data        
                    each item, i in data
                        tr.text-left
                            td #{item.positionStartX} 
                            td #{item.positionEndX}
                            td #{item.positionStartY}
                            td #{item.positionEndY}
                            td #{item.startTime}
                            td #{item.endTime}
                            td #{item.text} 
                                form.form-inline(action='/deleteInfoObject',method='POST')
                                    button.btn.btn-default(type='text', name='delObject', value='#{i}') del #{i}!
                tr
                    td 
                        input.form-control(type='text',name='StartX',placeholder='StartX')
                    td 
                        input.form-control(type='text',name='EndX',placeholder='EndX')
                    td 
                        input.form-control(type='text',name='StartY',placeholder='StartY')
                    td  
                        input.form-control(type='text',name='EndY',placeholder='EndY')
                    td 
                        input.form-control(type='text',name='startTime',placeholder='startTime')
                    td 
                        input.form-control(type='text',name='endTime',placeholder='endTime')
                    td 
                        input.form-control(type='text',name='Text',placeholder='Text')      
                tr
            button.btn.btn-default(type='submit',value='submit') Add InfoObject    
