extends layout

block content
    script(src='javascripts/script.js')
    #main(style='display: none;')
        p
            div StartX: #{dataGET[0]}
            div EndX: #{dataGET[1]}
            div StartY: #{dataGET[2]}
            div EndY: #{dataGET[3]}
            div startTime: #{dataGET[4]}
            div endTime: #{dataGET[5]}
            div Text: #{dataGET[6]}
        p
        if data
        form.form-inline(action='/',method='GET')
            table.table
                tr
                    th positionStartX
                    th positionEndX
                    th positionStartY
                    th positionEndY
                    th startTime
                    th endTime
                    th Text
                each item, i in data
                    tr
                        td #{item.positionStartX}
                        td #{item.positionEndX}
                        td #{item.positionStartY}
                        td #{item.positionEndY}
                        td #{item.startTime}
                        td #{item.endTime}
                        td #{item.text} 
                tr
                    td 
                        input.form-control(type='text',name='StartX',placeholder='StartX')
                    td 
                        input.form-control(type='text',name='EndX',placeholder='EndX')
                    td 
                        input.form-control(type='text',name='StartY',placeholder='StartY')
                    td  
                        input.form-control(type='text',name='EndY',placeholder='EndY')
                    td 
                        input.form-control(type='text',name='startTime',placeholder='startTime')
                    td 
                        input.form-control(type='text',name='endTime',placeholder='endTime')
                    td 
                        input.form-control(type='text',name='Text',placeholder='Text')      
                tr asd
            button.btn.btn-default(type='submit',value='submit') Submit    
