extends layout

block content
    script(src='javascripts/script.js')
    #main(style='display: none;')
        if data
            table.table
                tr
                    th positionStartX
                    th positionEndX
                    th positionStartY
                    th positionEndY
                    th startTime
                    th endTime
                    th Text
                each item, i in data
                    tr
                        td #{item.positionStartX}
                        td #{item.positionEndX}
                        td #{item.positionStartY}
                        td #{item.positionEndY}
                        td #{item.startTime}
                        td #{item.endTime}
                        td #{item.text}
                tr
                form.form-inline(action='/tryGet',method='GET')
                    td.newrow.form-group hardcoded newrow Test 
                        label(for='formdataget') GET something
                        input.form-control(type='text',name='formdataget',placeholder='come GET some')
                        button.btn.btn-default(type='submit',value='submit') Submit
                        pre Output: #{formdataget}
                    td 
                    td
                    td
                    td
                    td
                    td
            button(onclick='notifyMe()') Notify me!
